[{:itonami.blueprint/social-impact [:local-jobs :supply-chain-resilience], :itonami.blueprint/domain :services/procurement, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "3323", :itonami.blueprint/name "Independent Procurement & Sourcing Practice", :itonami.blueprint/governor :procurement-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3323", :itonami.blueprint/license "AGPL-3.0-or-later"}]